<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      <span class="title-text">Movimentações Financeiras</span>
    </ion-title>
    <ion-buttons slot="end">
      <img src="assets/logo.png" alt="Logo" class="logo" />
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="container">
    <ion-grid>
      <ion-row>
        <ion-col size="12">
          <ion-card>
            <ion-card-header>
              <ion-card-title class="header-text"
                >Entradas e Saídas</ion-card-title
              >
              <ion-item>
                <ion-select label="Selecione o mês"
                  [(ngModel)]="selectedMonth"
                  (ionChange)="monthChanged()"
                >
                  <ion-select-option
                    *ngFor="let month of months"
                    [value]="month.value"
                    >{{ month.label }}</ion-select-option
                  >
                </ion-select>
              </ion-item>
              <ion-button expand="block" (click)="addTransaction()"
                >Adicionar Entrada/Saída</ion-button
              >
            </ion-card-header>
            <ion-card-content>
              <table>
                <thead>
                  <tr>
                    <th>Data</th>
                    <th>Descrição</th>
                    <th>Tipo</th>
                    <th>Valor</th>
                    <th>Ação</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngIf="filtredTransactions.length === 0" class="no-data">
                    <td colspan="4">Nenhuma transação encontrada.</td>
                  </tr>
                  <ng-container *ngIf="filtredTransactions.length > 0">
                    <tr *ngFor="let transaction of filtredTransactions">
                      <td>{{ transaction.date | date: 'dd/MM/yyyy' }}</td>
                      <td>{{ transaction.description }}</td>
                      <td>{{ transaction.type }}</td>
                      <td>{{ transaction.amount | currency:'BRL' }}</td>
                      <td class="remove-button-cell">
                        <ion-button size="small" (click)="removeTransaction(transaction)">
                          Remover
                        </ion-button>
                      </td>
                    </tr>
                  </ng-container>
                </tbody>
              </table>
            </ion-card-content>
            <ion-button expand="block" (click)="exportToExcel()"
              >Exportar para Excel</ion-button
            >
            <ion-row class="totals-row">
              <ion-col class="ion-text-center">
                <strong>Total Entradas:</strong> {{ totalEntradas |
                currency:'BRL' }}
              </ion-col>
              <ion-col class="ion-text-center">
                <strong>Total Saídas:</strong> {{ totalSaidas | currency:'BRL'
                }}
              </ion-col>
              <ion-col class="ion-text-center">
                <strong>Saldo Final:</strong> <span [ngClass]="{'positive': saldoFinal >= 0, 'negative': saldoFinal < 0}">{{ saldoFinal | currency:'BRL' }}</span>
              </ion-col>
            </ion-row>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
