<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home">
      <ion-icon name="home"></ion-icon>
      <ion-label>Home</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="pessoas">
      <ion-icon name="cash"></ion-icon>
      <ion-label>Mov. Financeiras</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="levels">
      <ion-icon name="trending-up"></ion-icon>
      <ion-label>Fornecedores</ion-label>
    </ion-tab-button>

    <!-- <ion-tab-button tab="trilha">
      <ion-icon name="book"></ion-icon>
      <ion-label>Trilhas</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="info">
      <ion-icon name="copy"></ion-icon>
      <ion-label>Informações</ion-label>
    </ion-tab-button> -->

  </ion-tab-bar>
</ion-tabs>
