<ion-header>
  <ion-toolbar>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid fixed>
    <ion-row class="align-items-center">
      <ion-col size-sm="4" size-md="6" size-lg="4">
        <ion-card>
          <ion-card-header>
            Membros
          </ion-card-header>
          <ion-card-content>
            <canvas #barCanvas></canvas>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size-sm="4" size-md="6" size-lg="4">
        <ion-card>
          <ion-card-header>
            Produtividade
          </ion-card-header>
          <ion-card-content>
            <canvas #lineCanvas></canvas>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size-sm="4" size-md="6" size-lg="4">
        <ion-card>
          <ion-card-header>
            Membros por Level
          </ion-card-header>
          <ion-card-content>
            <canvas #pieCanvas></canvas>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size-sm="4" size-md="6" size-lg="4">
        <ion-card>
          <ion-card-header>
            Habilidades dos Membros
          </ion-card-header>
          <ion-card-content>
            <canvas #doughnutCanvas></canvas>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>